<h3 id = "title">Fill in the quotes correctly if you are a true Jhin main. NO CHEATING!!!!!!!</h3>
  <body>
  <div class = "bg">
    <div id = "blackbox">

<p class = "text">___________? Huh. Where's the drama in that?</p>

<label for = "summonerNameBox">Answer:</label>
<input id = "summonerNameBox" #box (keyup.enter)="answer1(box.value)" >

<p class = "text" *ngIf='this.value.length > 2 && this.value == this.firstAnswer'>Good job!</p>
<p class = "text" *ngIf='this.value.length > 2 && this.value != this.firstAnswer'>You don't know anything. You definitely are not a jhin main.!</p>


<p class = "text"> I suppose I must make do with this _________ setting</p>

<label for = "summonerNameBox2">Answer:</label>
<input id = "summonerNameBox2" #box2 (keyup.enter)="answer2(box2.value)" >

<p class = "text" *ngIf='this.value2.length > 2 && this.value2 == this.secondAnswer'>Amazing!</p>
<p class = "text" *ngIf='this.value2.length > 2 && this.value2 != this.secondAnswer'>This one was so easy too!</p>

<p class = "text"> I cannot be good. I must be ________</p>

<label for = "summonerNameBox3">Answer:</label>
<input id = "summonerNameBox3" #box3 (keyup.enter)="answer3(box3.value)" >

<p class = "text" *ngIf='this.value3.length > 2 && this.value3 == this.thirdAnswer'>Keep it up!</p>
<p class = "text" *ngIf='this.value3.length > 2 && this.value3 != this.thirdAnswer'>you obviously aren't perfect</p>

<p class = "text"> Each bullet is a piece of my soul. Each _____ is a piece of me.</p>

<label for = "summonerNameBox4">Answer:</label>
<input id = "summonerNameBox4" #box4 (keyup.enter)="answer4(box4.value)" >

<p class = "text" *ngIf='this.value4.length > 2 && this.value4 == this.fourthAnswer'>Fantastic!</p>
<p class = "text" *ngIf='this.value4.length > 2 && this.value4 != this.fourthAnswer'>You probably don't even know Rammus quotes at this point. ok?</p>
</div>
</div>
</body>
