#titleText {
  text-align: center;
}
#firstSentence {
  text-align: center;
}
#informText {
  text-align: center;
}
#inputBox {
  text-align: center;
  margin-top: 30px;
}
#submitButton {
  text-align: center;
  margin-top: 10px;
}
#ps {
  text-align: center;
}
